<!DOCTYPE html>
<html>

<head>
    <title>EthGrid</title>
    <style>
        body {
            background: #fff;
        }

        body::after {
            content: "";
            background:
                url(https://giveuselife.org/wp-content/uploads/2017/12/business-internet-phone-network-1.jpg);
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.75;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="jumbotron text-center">
    <div class="">
        <h1 class="text-info display-3">Eth<span class="text-secondary">Grid</span> </h1>
        <nav class="navbar navbar-expand-sm bg-dark navbar-light btn btn-outline-secondary">
            <ul class="navbar-nav">
                <li class="nav-item active ">
                    <a class="nav-link text-white" href="/">Eth-Grid | HomePage </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href='/node/send'> Send Power </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href='/node/request'> Request Power </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href='/node/viewtx'> View Completed Transaction </a>
                </li>
            </ul>
        </nav>
        <br>

        <div class="jumbotron border border-info bg-dark">
            <div class="form-modal">
                <div class="form-toggle">
                    <h1 id="man-toggle" style="color: azure"> View Confirmed Transaction </h1>
                    <br><br>
                </div>
                <div id="man-form">
                    <form id="manform" action="/node/viewtx" method="POST">
                        <table>
                            <input type="text" name="from" id="from" placeholder="Enter the address of the Sender" required>
                            <br><br><br>
                            <input type="number" name="number" id="number" placeholder="Number of this Transaction" required>
                        </table><br><br>
                        <button type="submit" class="btn btn-success login"> SUBMIT </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="jumbotron border border-info bg-dark">

            <h2 class="text-info">TRANSACTION DETAILS</h2>

            <table class="table table-sm  border-info">
                <thead class="bg-light text-info">
                    <tr>
                        <th>FROM ADDRESS</th>
                        <th>TO ADDRESS</th>
                        <th>POWER TRANSFERRED (in units)</th>
                    </tr>
                </thead>
                <tbody class="text-white">
                    <tr>
                        <td>
                            <%= from %>
                        </td>
                        <td>
                            <%= to %>
                        </td>
                        <td>
                            <%= amount %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>